
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Inter:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#huvudmeny-wrapper {
    display: grid;
    height: 1050px;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-rows: 100px 400px 400px 100px;
    grid-template-areas:
    "header nav nav"
    "mt mt mt"
    "emt emt article1"
    "emt emt article2"
    ;
}

#body_huvudmeny {
    background-image: url(../img/yogaGirlMountainPose.jpg);
    background-size: cover;
}

.huvud-articles {
    border-radius: 30px;
}

#huvud-header {
    background-image: url(../img/HealthHub_logo3.0.jpg);
    background-size: contain ;
    grid-area: header;
}

#huvud-nav {
    grid-area: nav;
    background: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-button {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 1.5px black solid;
}

#article1 {
    grid-area: article1;
    background: purple;
}

#article2 {
    grid-area: article2;
    background: orange;
}

#galleri-wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
    "header nav nav"
    "section section section"
    "footer footer footer"
}

#galleri-header {
    grid-area: header;
    background: red;
}

#galleri-nav {
    grid-area: nav;
    background: green;
}

.hälsogrupper {
    grid-area: section;
    background: blue;
}

#galleri-footer {
    grid-area: footer;
    background: purple;
}

#om_oss-wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 4fr;
    grid-template-rows: 100px 1fr 1fr 1fr ;
    grid-template-areas:
    "header header nav"
    "bild1 bild2 stuff"
    "bild1 bild3 stuff"
    "list list footer"
}

#om_oss-header {
    grid-area: header;
    background: red;
}

#om_oss-nav {
    grid-area: nav;
    background: green;
}

#bild1 {
    grid-area: bild1;
    background: lightblue;
}

#bild2 {
    grid-area: bild2;
    background: cyan;
}

#bild3 {
    grid-area: bild3;
    background: darkblue;
}

#om_oss {
    grid-area: stuff;
    background: pink;
}

#kontakt_lista {
    grid-area: list;
    background: lightgreen;
}

#om_oss-footer {
    grid-area: footer;
    background: purple;
}